@define-color selected_bg_color rgb(26, 115, 232);
@define-color selected_fg_color rgb(255, 255, 255);
@define-color tooltip_bg_color #fff8dc;
@define-color tooltip_fg_color #000000;
@define-color menu_bg_color #f8f8f8;
@define-color menu_fg_color #333;
/*
.button, button {
    border-radius: 0;
    border: none;
    background: #eee;
    background-image: none;
}
.button:hover,
button:hover {
    background: #e5e5e5;
}
.button.flat,
button.flat {
    border: none;
    border-right: solid #aaa 1px;
    background: #e0e0e0;
}
.button.flat:hover,
button.flat:hover {
    background: #e5e5e5;
}
*/

.background {
    background-color: #ffffff;
}

.MenuBase, .menu {
    background-color: alpha (@menu_bg_color, 0.86);
    border: none;
    color: @menu_fg_color;
}

.tooltip {
    background-image: -gtk-gradient (
                              radial, center 0, 0, center 0, 0.8,
                              from (alpha (mix (@tooltip_bg_color, #ffffff, 0.2),
					   0.86)),
                              to (alpha (@tooltip_bg_color, 0.86)));
    border-color: alpha (#ffffff, 0.2);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;

    color: @tooltip_fg_color;
}

@define-color address_bar_item_base_color #d2b48c;
/* @define-color address_bar_background_color #ddd; */
/* @define-color address_bar_background_color #ffffff; */
/* @define-color address_bar_background_color #f5f5f5; */
@define-color address_bar_background_color #fafafa;
/* @define-color address_bar_background_color #f2f1f0; */
@define-color address_bar_item_after_background_color #dddddd;
.AddressBar {
    border-bottom: solid #e5e5e5 1.5px;
    background-color: @address_bar_background_color;
}
.AddressBarItem {
    border-radius: 0;
    border: none;
    background-color: #eee;
    background-image: none;
    color: #555;
}
.AddressBarItem:hover {
    /* background-color: #c5c5c5; */
    background-color: #fefefe;
    color: #000;
}
.AddressBarItemBefore {
    border-left: solid @address_bar_item_base_color 1px;
    border-top: solid @address_bar_item_base_color 1px;
    border-bottom: solid @address_bar_item_base_color 1px;
    background-color: #fafafa;
}
.AddressBarItemAfter {
    border-right: solid @address_bar_item_base_color 1px;
    border-top: solid @address_bar_item_base_color 1px;
    border-bottom: solid @address_bar_item_base_color 1px;
    background-color: @address_bar_item_after_background_color;
    color: #777;
}
@define-color address_bar_item_current_color #d2b48c;
.AddressBarItemCurrent {
    border: solid @address_bar_item_current_color 2.3px;
    background-color: #ffffff;
}
@define-color address_bar_item_fav_color #00b40c;
.FavoriteAddressItem {
    border-top-color: @address_bar_item_fav_color;
}
.FileListItem {
    border-bottom: solid #ddd 1px;
}

.DialogViewProperty {
    color: #f1f1ff;
    background-color: #20b2aa;
    background-color: #008b8b;
    background-color: #27408b;
}
.DialogViewPropertyBar {
    color: #3f3f3f;
    background-color: #fffacd;
}

.DialogViewPropertyBarButton {
    color: #3f3f3f;
    border-radius: 0px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    background: #eedd82;
}
.DialogViewPropertyBarButton:hover {
    background: #5a5a5a;
    color: #f1f1f1;
}

.DialogOverlayBackdrop {
    background-color: alpha (#3f3f3f, 0.3);
}
.DialogOverlay {
    background-color: #ddd;
    background-color: @address_bar_background_color;
    border: solid #fff 1px;
    color: #3f3f3f;
}

@define-color status_bar_background_color @address_bar_background_color;
@define-color status_bar_border_color #cacaca;

.VideoControl {
    border: solid @status_bar_border_color 1.3px;
}

.StatusBar {
    border-top: solid @status_bar_border_color 1px;
    background-color: @status_bar_background_color;
}

@define-color button_task_border_color #0a66c2;
@define-color button_task_border_current_color #acacac;

/*
@define-color button_task_background_current_color #fcfcfc;
@define-color button_task_current_color #5f5f5f;
*/
@define-color button_task_background_current_color #0a66c2;
@define-color button_task_current_color #f5f5f5;

@define-color button_task_background_current_hover_color @button_task_background_current_color;
.ButtonTask {
    border: solid @button_task_border_color 0.5px;
    border-radius: 500px;
}

.ButtonTask:hover,
.ButtonTaskCurrent {
    border: solid @button_task_border_current_color 0.5px;
    background: @button_task_background_current_color;
    color: @button_task_current_color;
    font-weight: bold;
}

.IconButton {
    border-radius: 500px;
}
.IconButton:hover {
    background: #e5e5e5;
}

.IconButtonRepeatDisable:hover,
.IconButtonRepeat,
.IconButtonRepeat:hover {
    border: solid @button_task_border_current_color 0.5px;
    border-radius: 500px;
    border-radius: 0px;
    background: @button_task_background_current_hover_color;
}

/*
@define-color editor_bar_background_color @address_bar_background_color;
 */
@define-color editor_bar_background_color #dee1e6;
@define-color editor_bar_background_color #cececf;
@define-color bar_editor_border_color #dadce0;
.BarEditor {
    background-color: #fff8dc;
    background-color: @editor_bar_background_color;
    border: solid @bar_editor_border_color 1px;
}

/*
@define-color button_action_border_color #cdcdcd;
@define-color button_action_background_color #4185c6;
@define-color button_action_background_current_hover_color #0a66c2;
@define-color button_action_color #f7ffff;
 */
@define-color button_action_border_color #bbb;
@define-color button_action_background_color #b0b3b8;
@define-color button_action_background_color #f5f5f7;
@define-color button_action_background_current_hover_color @selected_bg_color;
@define-color button_action_color #6f6f74;
@define-color button_action_color #3f3f44;
.ButtonAction {
    border: solid @button_action_border_color 0.8px;
    border-radius: 500px;
    border-radius: 0px;
    background-color: alpha (@button_action_background_color, 0.9);
    color: @button_action_color;
}
.ButtonAction:hover {
    background-color: alpha (@button_action_background_current_hover_color, 0.9);
    border-color: alpha (@button_action_background_current_hover_color, 1.0);
    color: @selected_fg_color;
}
/*
@define-color button_action_disable_color #f7f7f7;
@define-color button_action_background_disable_color #b0c4de;
 */
@define-color button_action_disable_color #7f7f7f;
@define-color button_action_background_disable_color #ddd;
.ButtonActionDisabled, .ButtonActionDisabled:hover {
    background-color: @button_action_background_disable_color;
    border-color: alpha (@button_action_background_disable_color, 0.9);
    color: @button_action_disable_color;
    font-weight: normal;
}

.ViewDictView {
    background-color: #ffffeb;
    color: #000000;
}

.ViewDictViewBusy {
    background-color: #efefef;
    color: #000000;
}

.ButtonPlayer:hover,
.ButtonPlayerPressed {
    border-radius: 0px;
    background-color: #aaa;
}

.ClockHover{
    border-radius: 0px;
/*
    background-color: #e5e5e5;
    color: #000;
*/
    background-color: @button_task_background_current_hover_color;
    color: #fff;
}

.menubar .menuitem .scale.highlight.left,
.scale.highlight.left,
.progressbar,
.progressbar row,
.progressbar row:hover,
.progressbar row:selected,
.progressbar row:selected:focus,
.progressbar row:nth-child(odd),
.toolbar .progressbar,
.entry .progressbar,
.progressbar:backdrop,
.progressbar row:backdrop,
.progressbar row:hover:backdrop,
.progressbar row:selected:backdrop,
.progressbar row:selected:focus:backdrop,
.scale.highlight.bottom:backdrop,
.progressbar.vertical:backdrop {
    background-image: linear-gradient(to bottom,
				      rgb(26, 115, 232),
				      rgb(25, 103, 210));
}

*:selected,
*:selected:focus {
    background-color: alpha (@selected_bg_color, 0.9);
    color: @selected_fg_color;
}

*:selected:backdrop,
*:selected:focus:backdrop {
    background-color: alpha (@backdrop_selected_bg_color, 0.9);
    color: @backdrop_selected_fg_color;
}
