PlayProgressBar {
    -GtkProgressBar-min-horizontal-bar-height: 3px;
    -GtkProgressBar-min-vertical-bar-width: 3px;
}

PlayProgressBar *:selected,
PlayProgressBar *:selected:focus,
.PlayProgressBar *:selected,
.PlayProgressBar *:selected:focus {
    color: #ffffff;
}